# Ignore raw data except README.md
data/raw/*
!data/raw/README.md  # Keep an empty README to explain where raw files go

# Ignore compressed and large dataset files
*.gz
*.bam
*.vcf
*.sam
*.csv
*.tsv
*.h5
*.Rproj
# Ignore temporary and intermediate files
*tmp/
*to_combine/
*.txt
*downloads/
*logs/
*.html
*.zip
*.json
*.tab
# Ignore large result files
results/**/*.pdf
results/**/*.png

# Ignore temporary files and logs
*.log
*.tmp
*.swp
*.bak
.DS_Store

# Ignore container and config files specific to environment
config/docker/*

# Ignore compiled files and environments
/tmp
__pycache__/
*.Rhistory
*.Rproj.user
*.ipynb_checkpoints/
.venv/
.env
node_modules/
.Rproj.user
